<h1>Welcome to the Krusty Krab!</h1>
<h2>Home of the Famous Krabby Patty</h2>

<main class="container">
    <section class="row">
    <section class="col-6">
        <h3 id="unEatenHead">Your Burgers</h3>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
        </ul>
    </section>

    <section class="col-6">
        <h3 id="eatenHead">Burgers You Have Eaten</h3>
        <ul>
            {{#each burgers}}
                {{#if this.devoured}}
                    {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}
        </ul>
    </section>
    </section>
    <h2>Add a Krabby Patty</h2>
    <form class="create-form">
        <div class="form-group">
            <label for="burg">Burger Type:</label>
            <input type="text" id="burg" name="name">
        </div>
        <button type="submit">Add Burger</button>
    </form>

</main>