header {
    text-align: center;
    background-image: url("../img/bamboo.jpeg");
    background-size: auto;
    color: white;
    margin-bottom: 0em !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

#colHead{
    margin-top: 15px;
}

.form-group{
    margin-bottom: 0em !important;
}

html {
    height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: 'Slackey', cursive;
    height: 100%;
}

center {
    text-align: center;
    margin-left: 50%;
    justify-content: center;
}

.mainBack {
    background-image: url("../img/water.jpg");
    background-size: cover;
    height: 100%;
}

.footer {
    background-image: url("../img/bamboo.jpeg");
    background-size: auto;
    color: white;
    margin: 0px !important;
    height: 100px;
}

button {
    background-color: #2259B4;
    color: white;
}

