<li>
    {{burger_name}}

{{#if devour}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        Devour Your Burger!
    </button>
{{/if}}
    <button class="del-btn" data-id="{{id}}">
        Toss Burger
    </button>
</li>